@import "./breakpoints.scss";
@import "./variables.scss";

.announcement {
  background-color: $color-white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7efec;
}

.announcement__content {
  height: 211px;
  width: 815px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 50px 280px 25px 25px;
  border-radius: 20px 200px 20px 20px;
  background-image: linear-gradient(180deg, #fff600 0%, #d5cc01 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
  transition: border-radius 0.2s ease-out;

  &:hover {
    border-radius: 20px 125px 20px 20px;
  }

  &:hover .announcement__link {
    color: $color-white;
  }

  @include for-wide-middle {
    width: 635px;
    height: 236px;
    padding: 25px 280px 25px 25px;
  }
}

.announcement__message {
  font: normal 700 26px "Open Sans condenced", sans-serif;
}

.announcement__link {
  font: normal 700 30px "Open Sans condenced", sans-serif;
}

.announcement__info {
  display: flex;
  margin-top: 85px;
}

.announcement__blocks {
  display: flex;
  margin-bottom: 15px;
  &:first-of-type {
    margin-top: 85px;
  }
  &:last-of-type {
    margin-bottom: 0px;
  }
}

#id1-2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: url("./img/1.jpg");
  width: 455px;
  height: 340px;
  margin: 0 10px;
  border-radius: 0 200px 0 0;
  justify-content: space-between;
}

#id1-3 {
  padding-left: 30px;
  height: 190px;
  display: flex;
  align-items: center;
}

.block__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#id1-5 {
  color: #595959;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: start;
}

#id1-7 {
  color: $color-blue;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: start;
  border-radius: 0 150px 0 0;
}

#id2-1 {
  display: flex;
  flex-direction: column;
  width: 645px;
  height: 340px;
  margin: 0 10px;
  border-radius: 200px 0 0 0;
  background: url("./img/32.jpg");
  justify-content: space-between;
}

#id2-2 {
  padding-right: 30px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: end;
}

#id2-5 {
  color: #595959;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: end;
  line-height: 50px;
}

#id2-6 {
  color: $color-blue;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: end;
  border-radius: 150px 0 0 0;
}

#id3-2 {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  width: 455px;
  height: 340px;
  margin: 0 10px;
  border-radius: 0 0 200px 0;
}

#id3-3 {
  padding-left: 30px;
  background: url("./img/2.jpg");
  border-radius: 0 0 150px 0;
  height: 190px;
  display: flex;
  align-items: center;
}

#id3-5 {
  color: #595959;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: start;
}

#id3-6 {
  color: $color-blue;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: start;
  width: 300px;
}

#id4-1 {
  display: flex;
  flex-direction: column;
  width: 645px;
  height: 340px;
  background-color: $color-white;
  border-radius: 0 0 0 200px;
  margin: 0 10px;
}

#id4-2 {
  padding-right: 30px;
  background: url("./img/49.jpg");
  height: 190px;
  border-radius: 0 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: end;
}

#id4-4 {
  color: #595959;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: end;
}

#id4-5 {
  color: $color-blue;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: end;
}

#id5-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("./img/24.jpg");
  width: 550px;
  height: 340px;
  margin: 0 10px;
  border-radius: 0 200px 0 0;
}

#id5-3 {
  padding-left: 30px;
  height: 190px;
  display: flex;
  align-items: center;
}

#id5-6 {
  color: #595959;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: start;
}

#id5-7 {
  color: $color-blue;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: start;
  border-radius: 0 150px 0 0;
}

#id6-1 {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 340px;
  justify-content: space-between;
  background: url("./img/covid-3.jpeg");
  border-radius: 200px 0 0 0;
  margin: 0 10px;
}

#id6-2 {
  padding-right: 30px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: end;
}

#id6-4 {
  color: #595959;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: end;
}

#id6-6 {
  color: $color-blue;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: end;
  border-radius: 150px 0 0 0;
}

#id7-2 {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 340px;
  background-color: $color-white;
  border-radius: 0 0 200px 0;
  margin: 0 10px;
}

#id7-3 {
  padding-left: 30px;
  background: url("./img/4.jpg");
  height: 190px;
  border-radius: 0 0 150px 0;
  display: flex;
  align-items: center;
}

#id7-5 {
  color: #595959;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: start;
}

#id7-6 {
  color: $color-blue;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: start;
  width: 300px;
}

#id8-1 {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  width: 550px;
  height: 340px;
  border-radius: 0 0 0 200px;
  margin: 0 10px;
}

#id8-2 {
  padding-right: 30px;
  background: url("./img/27.jpg");
  height: 190px;
  border-radius: 0 0 0 150px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.text-right {
  color: $color-white;
  line-height: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  text-align: end;
}

.text-left {
  color: $color-white;
  line-height: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  text-align: start;
}

#id8-4 {
  color: #595959;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: end;
}

#id8-5 {
  color: $color-blue;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: end;
  width: 300px;
}

#id9-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("./img/47.jpg");
  width: 645px;
  height: 340px;
  margin: 0 10px;
  border-radius: 0 200px 0 0;
}

#id9-3 {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 190px;
}

#id9-6 {
  color: #595959;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: start;
}

#id9-7 {
  color: $color-blue;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: start;
  border-radius: 0 150px 0 0;
}

#id10-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 455px;
  background: url("./img/12.jpg");
  border-radius: 200px 0 0 0;
  margin: 0 10px;
}

#id10-2 {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 190px;
}

#id10-4 {
  color: #595959;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: end;
  border-radius: 150px 0 0 0;
}

#id10-6 {
  color: $color-blue;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: $color-white;
  border: none;
  text-align: end;
  border-radius: 150px 0 0 0;
}

//block__content

.block__content_right-top {
  background-color: $color-white;
  height: 118px;
  padding-top: 22px;
  padding-bottom: 10px;
  border-radius: 150px 0 0 0;

  &:first-of-type {
    height: 106px;
    padding-top: 34px;
  }
}

.block__content_right-bottom {
  height: 150px;
  margin-bottom: 10px;
  align-items: end;

  &:first-of-type {
    margin-top: 34px;
  }

  &:last-of-type {
    margin-top: 22px;
  }
}

.block__content_left-top {
  background-color: $color-white;
  height: 118px;
  padding-top: 22px;
  padding-bottom: 10px;
  border-radius: 0 150px 0 0;

  &:first-of-type {
    width: 455px;
  }

  &:nth-of-type(2) {
    width: 550px;
  }

  &:last-of-type {
    height: 106px;
    padding-top: 34px;
    width: 645px;
  }
}

.block__content_left-bottom {
  height: 150px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-top: 34px;
  }

  &:first-of-type {
    margin-top: 22px;
  }
}
