@import "../components/Announcement/announcement.scss";
@import "../components/FlightSearch/flight-search.scss";
@import "../components/Footer/footer.scss";
@import "../components/Header/header.scss";
@import "../components/News/news.scss";

.page {
  margin: 0;
  overflow-x: hidden;
  background-color: #e7efec;
}

ul {
  @include for-mobile {
    padding: 0;
  }
}

button {
  cursor: pointer;
}
