$color-blue: #1eb7ee;
$color-white: #ffffff;
$font-title:
  normal 600 60px "Open Sans",
  sans-serif;
$font-description:
  normal 600 24px "Open Sans",
  sans-serif;
$font-button:
  normal 700 20px "Open Sans",
  sans-serif;
