@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.news {
  background-color: #e7efec;
  margin: auto;
  border-top: 10px solid #1eb7ee;
  border-bottom: 10px solid #1eb7ee;
  width: 1140px;
  padding: 40px 10px;
  margin-bottom: 130px;
  margin-top: 130px;

  @include for-wide-middle {
    width: 960px;
  }
  @include for-narrow-middle {
    width: 720px;
  }
  @include for-mobile {
    width: 100vw;
    padding: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-mobile {
      margin-top: 40px;
    }

    &_title {
      font-size: 70px;
      color: #1eb7ee;

      @include for-wide-middle {
        font-size: 36px;
      }
      @include for-narrow-middle {
        font-size: 36px;
      }
      @include for-mobile {
        font-size: 36px;
        margin-left: 15px;
      }
    }

    &_button {
      width: 140px;
      height: 40px;
      background-color: #1eb7ee;
      color: $color-white;
      font-size: 16px;
      padding: 0 15px;
      border: 2px solid #1eb7ee;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
        cursor: pointer;
      }

      @include for-mobile {
        margin-right: 10px;
      }
    }
  }

  &__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @include for-mobile {
      flex-direction: column;
      align-items: center;
    }

    &_data {
      font-size: 16px;
      color: #595959;
    }

    &_element {
      display: flex;
      flex-direction: column;
      width: 550px;

      @include for-wide-middle {
        width: 460px;
      }
      @include for-narrow-middle {
        width: 340px;
      }
      @include for-mobile {
        width: calc(100vw - 20px);
        margin-top: 30px;
      }

      &:last-child {
        margin-top: 40px;
      }

      &:hover .news__content_title {
        color: $color-blue;
      }
    }

    &_title {
      font-size: 30px;
      color: #595959;
      font-weight: 600;
      overflow: hidden;
      cursor: pointer;
    }

    &_element-container {
      display: flex;
      flex-direction: column;
      width: 550px;

      @include for-wide-middle {
        width: 460px;
      }
      @include for-narrow-middle {
        width: 340px;
      }
      @include for-mobile {
        width: calc(100vw - 20px);
        margin-bottom: 60px;
      }
    }

    &_image {
      width: 455px;
      margin: 15px 0;

      @include for-wide-middle {
        width: 380px;
      }
      @include for-narrow-middle {
        width: 280px;
      }
      @include for-mobile {
        width: calc(100vw - 20px);
      }
    }

    &_text {
      font-size: 18px;
      color: #595959;
    }

    &_main-element {
      width: 455px;
      display: flex;
      flex-direction: column;

      @include for-wide-middle {
        width: 380px;
      }
      @include for-narrow-middle {
        width: 280px;
      }
      @include for-mobile {
        width: calc(100vw - 20px);
      }

      &:hover .news__content_title {
        color: $color-blue;
      }
    }
  }
}
